/*SASS imports*/
/*Goggle Fonts*/
@import url(https://fonts.googleapis.com/css?family=Open+Sans|Playfair+Display);
/*Font Variables*/
/*Color Variables*/
@import url(https://fonts.googleapis.com/css?family=Open+Sans|Playfair+Display);
html, body, ul, ol {
  margin: 0;
  padding: 0; }

html {
  box-sizing: content-box;
  -moz-box-sizing: content-box; }

a, a:hover, a:visited, a:active, a:link {
  color: black;
  text-decoration: none; }

/*Goggle Fonts*/
/*Font Variables*/
/*Color Variables*/
html {
  width: 100%;
  height: 100%;
  background-color: rgba(233, 247, 250, 0.5);
  font-family: "Open Sans", sans-serif; }

body {
  width: 100%;
  height: 100%; }

.body-wrap {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%; }

/*Extends*/
.absolutefull, .selection-tab {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  bottom: 0; }

.reset {
  margin: 0;
  padding: 0; }

.base-heading, .selection-tab .selection-content h1, .crd-body .crd-ques .wrd {
  font-family: "Playfair Display", serif;
  font-size: 3.5em;
  letter-spacing: .05em;
  word-spacing: .15em; }

.base-body, .selection-tab .selection-content h2, .crd-body .results-compiled h3, .prog-res-box {
  font-family: "Open Sans", sans-serif;
  font-size: 1.4em; }

.base-crd, .selection-tab .selection-content p, .crd-body .crd-ques .form .definition, .crd-body .crd-answer p, .crd-body .results-compiled p {
  font-family: "Open Sans", sans-serif;
  font-size: 1.15em;
  line-height: 1.2em; }

/*Selection Tab*/
.selection-tab {
  text-align: center;
  z-index: 25;
  background-image: url(../images/jeshoots-note4.jpg);
  background-size: cover;
  -webkit-transition: transform 0.8s;
  -moz-transition: transform 0.8s;
  -ms-transition: transform 0.8s;
  -o-transition: transform 0.8s;
  transition: transform 0.8s; }
  .selection-tab .selection-content {
    width: 100%;
    height: 60%;
    z-index: 100;
    text-align: center;
    opacity: 1;
    background-color: rgba(233, 247, 250, 0.5);
    transform: translateY(25%) rotateY(0deg);
    -o-transform: translateY(25%) rotateY(0deg);
    -moz-transform: translateY(25%) rotateY(0deg);
    -webkit-transform: translateY(25%) rotateY(0deg); }
    .selection-tab .selection-content img {
      width: 6em;
      height: auto; }
    .selection-tab .selection-content h1, .selection-tab .selection-content h2 {
      color: #EB9532; }
    .selection-tab .selection-content div {
      display: inline-block;
      padding: 1%;
      margin: 1%;
      border: 1px solid #EB9532;
      border-radius: 25%;
      cursor: pointer;
      -webkit-transition: background 0.8s;
      -moz-transition: background 0.8s;
      -ms-transition: background 0.8s;
      -o-transition: background 0.8s;
      transition: background 0.8s; }
      .selection-tab .selection-content div:hover {
        background: #EB9532;
        border: 1px white solid; }

/*General Card Features*/
.crd-wrap {
  margin: 0 auto;
  position: relative;
  width: 650px;
  height: auto;
  transform: translateY(10%) rotateY(0deg);
  -o-transform: translateY(10%) rotateY(0deg);
  -moz-transform: translateY(10%) rotateY(0deg);
  -webkit-transform: translateY(10%) rotateY(0deg);
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden; }
  .crd-wrap .crd-flip {
    max-height: 650px;
    position: relative;
    -webkit-transition: all 0.8s;
    -moz-transition: all 0.8s;
    -ms-transition: all 0.8s;
    -o-transition: all 0.8s;
    transition: all 0.8s;
    -webkit-transform-style: preserve-3d;
    transform-style: preserve-3d; }
    .crd-wrap .crd-flip.flip {
      transform: translateY(0) rotateY(180deg);
      -o-transform: translateY(0) rotateY(180deg);
      -moz-transform: translateY(0) rotateY(180deg);
      -webkit-transform: translateY(0) rotateY(180deg); }
  .crd-wrap .front-crd, .crd-wrap .back-crd {
    width: 100%;
    height: 34.375em;
    top: 0;
    left: 0;
    background-color: #FDFDFD;
    border: 1px solid #bbb;
    border-radius: 10px;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden; }
  .crd-wrap .front-crd {
    z-index: 2;
    transform: rotateY(0deg); }
  .crd-wrap .back-crd {
    transform: translateY(-100%) rotateY(180deg);
    -o-transform: translateY(-100%) rotateY(180deg);
    -moz-transform: translateY(-100%) rotateY(180deg);
    -webkit-transform: translateY(-100%) rotateY(180deg); }

/*Main Card Content*/
.crd-body {
  position: relative;
  margin: 0 auto;
  height: 90%;
  width: 85%;
  text-align: center; }
  .crd-body .crd-ques .wrd {
    line-height: 1.5em;
    color: #EB9532;
    text-transform: lowercase; }
  .crd-body .crd-ques .form {
    margin: 0 auto;
    width: 85%; }
    .crd-body .crd-ques .form .definition {
      padding: 3%;
      display: block;
      text-align: left;
      border: 1px solid #EB9532;
      border-radius: 5px;
      cursor: pointer; }
    .crd-body .crd-ques .form .selectedwrd {
      background-color: #EB9532; }
    .crd-body .crd-ques .form .alert {
      color: #FF6961;
      display: none; }
  .crd-body .crd-answer {
    min-height: 70%; }
    .crd-body .crd-answer .wrd-result {
      font-family: "Playfair Display", serif;
      font-size: 3em; }
    .crd-body .crd-answer .result-box {
      width: 85%;
      padding: 10px;
      margin: 1px auto 3% auto;
      border: 1px solid rgba(233, 247, 250, 0.5);
      border-radius: .25em;
      padding: 10px;
      letter-spacing: .05em;
      text-align: left; }
    .crd-body .crd-answer .correct-def {
      background-color: #BDECB6; }
    .crd-body .crd-answer .incorrect-def {
      background-color: #FF6961; }
  .crd-body .butt {
    position: absolute;
    bottom: 10%;
    left: 40%;
    width: 20%;
    height: 10%;
    padding: .5em .625em;
    background-color: #FDFDFD;
    font-size: 1.10em;
    border: 1px solid #66aecb;
    border-radius: .25em; }
    .crd-body .butt:hover {
      background-color: #66aecb;
      color: #FDFDFD;
      cursor: pointer; }
  .crd-body .results-compiled {
    display: none;
    width: 100%;
    margin: 0 auto; }
    .crd-body .results-compiled h3 {
      color: #EB9532; }
    .crd-body .results-compiled p {
      display: inline-block;
      margin: .5em;
      padding: .5em;
      border-radius: .25em; }
    .crd-body .results-compiled .answerdetails {
      border: 1px solid #EB9532;
      -webkit-transition: background-color 0.8s;
      -moz-transition: background-color 0.8s;
      -ms-transition: background-color 0.8s;
      -o-transition: background-color 0.8s;
      transition: background-color 0.8s; }
      .crd-body .results-compiled .answerdetails:hover {
        cursor: pointer;
        background-color: #EB9532; }
    .crd-body .results-compiled .results-expans {
      width: 80%; }

/*Set colors for showing results*/
.missednum {
  background-color: #ff5148; }

.correctnum {
  background-color: #abe7a2; }

/*Below Card & Results*/
.prog-res-box {
  position: relative;
  margin: 0 auto;
  width: 85%;
  height: 10%;
  bottom: 0;
  /*Credits and about*/ }
  .prog-res-box .progress {
    text-align: center;
    font-weight: 400;
    margin: .5em; }
  .prog-res-box h2 {
    color: #FF6961;
    text-align: center; }
  .prog-res-box .missed {
    display: none; }
    .prog-res-box .missed p {
      display: inline-block;
      margin-right: 1em;
      padding: .5em;
      border-radius: .25em; }
    .prog-res-box .missed .missedwrdlist {
      margin: 0 auto; }
      .prog-res-box .missed .missedwrdlist p {
        margin: 0 0 .5 0;
        width: 100%; }
      .prog-res-box .missed .missedwrdlist .missedwrd {
        background-color: #FF6961; }
    .prog-res-box .missed .tryagainbutt {
      width: 20%;
      padding: .5em;
      margin: 0 auto;
      border: 1px solid #EB9532;
      border-radius: .25em;
      text-align: center;
      cursor: pointer;
      -webkit-transition: background-color 0.8s;
      -moz-transition: background-color 0.8s;
      -ms-transition: background-color 0.8s;
      -o-transition: background-color 0.8s;
      transition: background-color 0.8s; }
      .prog-res-box .missed .tryagainbutt:hover {
        background-color: #EB9532; }
  .prog-res-box .about {
    position: absolute;
    text-align: center;
    width: 100%; }
    .prog-res-box .about a {
      font-size: 0.6em;
      line-height: 1.6em;
      color: #f6d1a6; }
      .prog-res-box .about a:hover {
        color: #EB9532; }

/*# sourceMappingURL=styles.css.map */
