@mixin bp($point){
	$bp-desktop: 1000px;
	$bp-tablet: 780px;
	$bp-phone: 400px;

	@if $point == desktop {
		@media
		only screen and (min-width: #{$bp-desktop}),
		only screen and (min-device-width: #{$bp-desktop}){
			@content;
		}
	}
	@if $point == tablet {
		@media
		only screen and (max-width: #{$bp-tablet}),
		only screen and (min-device-pixel-ratio: 1) {
			@content;
		}
	}
	@if $point == phone {
		@media
		only screen and (max-width: #{$bp-phone}),
		only screen and (min-device-pixel-ratio:2){
			@content;
		}
	}
}