/*Goggle Fonts*/
@import url(https://fonts.googleapis.com/css?family=Open+Sans|Playfair+Display);
/*Font Variables*/
$open-sans : 'Open Sans', sans-serif;
$playfair-display: 'Playfair Display', serif;

/*Color Variables*/
$orange : #EB9532;
$trans-grey: rgba(233,247,250,0.5);
$basewhite: #FDFDFD;
$lightblue: #66aecb;
$redwrong: #FF6961;
$greencorrect: #BDECB6;