/*SASS imports*/
@import 'variables';
@import 'reset';
@import 'mixins';
@import 'base';

/*Extends*/
.absolutefull{
	width: 100%;
	height: 100%;
	position: absolute;
	top: 0;
	bottom: 0;
}
.reset {
	margin: 0;
	padding: 0;
}
.base-heading{
	font-family: $playfair-display;
	font-size: 3.5em;
	letter-spacing: .05em;
	word-spacing: .15em;
}
.base-body{
	font-family: $open-sans;
	font-size: 1.4em;
}
.base-crd{
	font-family: $open-sans;
	font-size: 1.15em;
	line-height: 1.2em;
}

/*Selection Tab*/
.selection-tab{
	@extend .absolutefull;
	text-align: center;
	z-index: 25;
	background-image: url(../images/jeshoots-note4.jpg);
	background-size: cover;
	@include transitions(transform, .8s);
	.selection-content{
		width:100%;
		height: 60%;
		z-index: 100;
		text-align: center;
		opacity: 1;
		background-color: $trans-grey;
		@include crdlayout(25%, 0deg);
		img{
			width: 6em;
			height: auto;
		}
		h1, h2 {
			color: $orange;
		}
		h1{
			@extend .base-heading;
		}
		p{
			@extend .base-crd;
		}
		h2{
			@extend .base-body;
		}
		div{
			display: inline-block;
			padding: 1%;
			margin: 1%;
			border: 1px solid $orange;
			border-radius: 25%;
			cursor: pointer;
			@include transitions(background, .8s);
			&:hover{
				background: $orange;
				border: 1px white solid;
			}
		}
	}
}
/*General Card Features*/
.crd-wrap{
	margin: 0 auto;
	position: relative;
	width: 650px;
	height: auto;
	@include crdlayout(10%, 0deg);
	.crd-flip{
		max-height: 650px;
		position: relative;
		@include transitions(all, .8s);
		-webkit-transform-style: preserve-3d;
		transform-style: preserve-3d; 
		&.flip{
			@include crdlayout(0,180deg);
		}
	}
	.front-crd, .back-crd{
		width: 100%;
		height: 34.375em;
		top: 0;
		left: 0;
		background-color: $basewhite;
		border: 1px solid #bbb;
		border-radius: 10px;
		-o-backface-visibility: hidden;
		-moz-backface-visibility: hidden;
		-webkit-backface-visibility: hidden;
		backface-visibility: hidden;
	}
	.front-crd{
		z-index: 2;
		transform: rotateY(0deg);
	}
	.back-crd{
		@include crdlayout(-100%,180deg);
	}
}
/*Main Card Content*/
.crd-body{
	position:relative;
	margin: 0 auto;
	height: 90%;
	width: 85%;
	text-align: center;
	.crd-ques{
		.wrd{
			@extend .base-heading;
			line-height: 1.5em;
			color: $orange;
			text-transform: lowercase;
		}
		.form{
			margin: 0 auto;
			width: 85%;
			.definition{
				@extend .base-crd;
				padding:3%;
				display: block;
				text-align: left;
				border: 1px solid $orange;
				border-radius: 5px;
				cursor: pointer;
			}
			.selectedwrd{
				background-color: $orange;
			}
			.alert{
				color: $redwrong;
				display: none;
			}
		}
	}
	.crd-answer{
		min-height: 70%;
		p{
			@extend .base-crd;
		}
		.wrd-result{
			font-family: $playfair-display;
			font-size: 3em;
		}
		.result-box{
			width: 85%;
			padding: 10px;
			margin: 1px auto 3% auto;
			border: 1px solid $trans-grey;
			border-radius: .25em;
			padding: 10px;
			letter-spacing: .05em;
			text-align: left;
		}
		.correct-def{
			background-color: $greencorrect;
		}
		.incorrect-def{
			background-color: $redwrong;
		}	
	}
	.butt{
		position: absolute;
		bottom: 10%;
		left: 40%;
		width: 20%;
		height: 10%;
		padding: .5em .625em;
		background-color: $basewhite;
		font-size: 1.10em;
		border: 1px solid $lightblue;
		border-radius: .25em;
		&:hover{
			background-color: $lightblue;
			color: $basewhite;
			cursor: pointer;
		}
	}
	.results-compiled{
		display: none;
		width:100%;
		margin: 0 auto;
		h3{
			@extend .base-body;
			color: $orange;
		}
		p{
			display: inline-block;
			margin: .5em;
			padding: .5em;
			border-radius: .25em;
			@extend .base-crd;
		}
		.answerdetails{
			border: 1px solid $orange;
			@include transitions(background-color, .8s);
			&:hover{
				cursor: pointer;
				background-color: $orange;
			}
		}
		.results-expans{
			width:80%;
		}
	}
}
/*Set colors for showing results*/
.missednum{
	background-color: darken($redwrong, 5%);
}
.correctnum{
	background-color: darken($greencorrect, 5%);
}
/*Below Card & Results*/
.prog-res-box{
	position: relative;
	margin: 0 auto;
	width: 85%;
	height: 10%;
	bottom: 0;
	@extend .base-body;
	.progress{
		text-align: center;
		font-weight: 400;
		margin: .5em;
	}
	h2{
		color: $redwrong;
		text-align: center;
	}
	.missed{
		display: none;
		
		p{
			display: inline-block;
			margin-right: 1em;
			padding: .5em;
			border-radius: .25em;
		}
		.missedwrdlist{
			margin: 0 auto;
			p{
				margin: 0 0 .5 0;
				width: 100%;
			}
			.missedwrd{
				background-color: $redwrong;			
			}
		}
		.tryagainbutt{
			width: 20%;
			padding: .5em;
			margin: 0 auto;
			border: 1px solid $orange;
			border-radius: .25em;
			text-align: center;
			cursor: pointer;
			@include transitions(background-color,.8s);
			&:hover{

				background-color: $orange;
			}
		}
	}
	/*Credits and about*/
	.about{
		position: absolute;
		text-align: center;
		width: 100%;
		a{
			font-size: 0.6em;
			line-height: 1.6em;
			color: lighten($orange,25%);
			&:hover{
				color: $orange;
			}
		}
	}
}
